{% extends 'app/base.html' %}
{% load static%}
{% load crispy_forms_tags %}

{% block css%}

{% endblock %}
{% block contenido %}
<link rel="stylesheet" href="{% static 'app/css/metronomo.css' %}">
<link rel="stylesheet" href="{% static 'app/css//main.css' %}">
<script src="{% static 'app/js/jquery-3.6.1.min.js' %}"></script>

<!-- CONTENIDO principal -->





<div style="width:100%; display:flex; justify-content:center; margin:5px;">
<main class="form-signin w-100 m-auto">
    <form action="" method="post">
      {% csrf_token %}
      <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label float-md-start">Nombre de Usuario</label>
        <input type="text" class="form-control" name="username" id="exampleInputEmail1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label float-md-start">Contraseña</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1">
      </div>

      <button class="w-100 btn btn-lg btn-primary" href="{% url 'index' %}" type="submit">Iniciar Sesión</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
    </form>
    <button><a href="{% url 'registro' %}"  style="color:white;">registro</a></button>
  </main>

</div>























<br>
<br>
<br>





<script src="{% static 'app/js/jquery.min.js' %}"></script>
<script src="{% static 'app/js/jquery.dropotron.min.js' %}"></script>



{% endblock %}