.cont-title{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.saludo p{
    margin: 10px 10px 10px 10px;
}
.saludo{
    width: 60%;
    margin-top: 10px;
    color: #000;
    font-size: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
}
.contenido{
    width: 100%;
    display: flex;
    justify-content: center;
}

.cont-text{
    width: 80%;
    margin-top: 10px;
    font-size: 15px;
    background-color: rgba(185, 188, 191, 0.696);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 5px 5px;
}
.cont-text p{
    margin: 5px 5px 5px 5px;
    color: #000;
    font-weight: bold;
}